services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      cache_from:
        - backend:latest
    ports:
      - "3000:3000"
    depends_on:
      - redis
      - mongo
    volumes:
      - .:/app
      - ./temp:/app/temp
    command: ["node", "src/index.js"]
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - app-network

  worker:
    build:
      context: .
      cache_from:
        - worker:latest
    depends_on:
      - redis
      - mongo
    volumes:
      - .:/app
    command: ["node", "src/worker.js"]
    env_file:
      - .env
    restart: unless-stopped
    deploy:
      replicas: 3
    networks:
      - app-network

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks:
      - app-network

  mongo:
    image: mongo:latest
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:

volumes:
  mongo-data:
